/* #0 */
.Setup01_s1lhbcrn {
	color: blue;
}
.Setup01_s1lhbcrn .h2 {
	color: red;
}
.Setup02_serl0i2 {
	color: orange;
}
.Setup02_serl0i2 .h2 {
	color: red;
}
/***************************************/

/* #1 */
.Setup1_s1lhbcrn {
	color: blue;
}
.Setup1_s1lhbcrn .h2 {
	color: red;
}
.Setup2_serl0i2 {
	color: orange;
}
.Setup2_serl0i2 .h2 {
	color: red;
}
/***************************************/

/* #2 */
.Setup11_s1ro4udx {
	color: blue;
}
.Setup12_slfrjfj {
	color: orange;
}
.Setup13_s7dnsln {
	color: red;
}
/***************************************/

/* #3 */
.Setup21_s1hm3ds1 {
	color: blue;
}
.Setup22_siou6qp {
	color: orange;
}
.Setup23_ss0cre6.Setup21_s1hm3ds1 {
	color: red;
}
/***************************************/

/* #4 */
.Setup33_s141owuu {
	color: cyan;
}
.Setup31_s1un0u9h {
	color: blue;
}
.Setup31_s1un0u9h .Setup33_s141owuu {
	color: red;
}
.Setup32_s1o8offj {
	color: orange;
}
.Setup32_s1o8offj .Setup33_s141owuu {
	color: red;
}
